/* src/components/Hero.css */
.hero {
    background-color: #0f0f0f;
    color: #39FF14;
    /* verde retro fosforescente */
    text-align: center;
    padding: 100px 20px;
    font-family: 'Orbitron', sans-serif;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #39FF14;
}

.subtitle {
    font-size: 1.2rem;
    color: #00FFFF;
    margin-bottom: 40px;
    text-shadow: 0 0 8px #00FFFF;
}

.hero-btn {
    background-color: transparent;
    border: 2px solid #FFA500;
    color: #FFA500;
    padding: 12px 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.hero-btn:hover {
    background-color: #FFA500;
    color: #0f0f0f;
    box-shadow: 0 0 10px #FFA500;
}